@font-face {
    font-family:'BasicGrotesque-Bold';
    src:url(../fonts/BasisGrotesquePro-Bold.ttf);
}

@font-face {
    font-family:'BasicGrotes-Regular';
    src:url(../fonts/BasisGrotesquePro-Regular.ttf);
}

@font-face {
    font-family:'BasicGrotes-light';
    src:url(../fonts/BasisGrotesquePro-Light.ttf);
}

.text-red{
    color: #E3482F;
}